.btn {
  cursor: pointer;
  text-decoration: none;
  font-family: "Syne";
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  text-align: center;
  background-color: transparent;
}

.btn-transparent {
  color: $green-color;
  border: 1px solid $green-color;
}

.btn-green {
  border: 1px solid $green-color;
  background-color: $green-color;
  color: $white-color;
}

.btn-blue {
  color: #306685;
  background: #cbd6dc;
  border-radius: 50px;
  font-family: "Work Sans";
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
}
