@import "./scss/base";
@import "./scss/utils";
@import "./scss/layouts";
@import "./scss/components";
@import "./scss/pages/connected";
@import "./scss/pages/index";
@import "./scss/pages/login";

* {
  font: inherit;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: $green-color;
  margin: 2em auto;
  width: 180px;
  border: none;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
